.page-header {
	background-color: gray;
	margin-top: 0;
	padding: 20px 20px 20px 40px;
	z-index: +2;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
	color: white;
	font-size: 36pt;
	text-decoration: none;
	font-family: 'Helvetica';
}

.content {
	margin-left: 40px;
}

h1, h2, h3, h4 {
	font-family: 'Helvetica';
}

.save {
	float: right;
}
	
.book {
	margin-bottom: 70px;
}

.book h2 a, .book h2 a:visited {
	color: black;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%
}

.sticky + .content {
	padding-top: 102px;
}
